$primary-color: rgb(233, 90, 7);

.header {
  min-height: 70vh;
  background: rebeccapurple;
  color: white;
  background-image: url(https://images.pexels.com/photos/751546/pexels-photo-751546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero {
  position: absolute;
  top: 35%;
  color: white;
  background: linear-gradient(0deg, rgb(228, 160, 15), transparent);
  padding: 3rem;
  max-width: 30rem;

  &-header {
    font-size: 2.8rem;
    font-weight: bolder;
    padding-bottom: 1rem;
  }

  &-button {
    display: flex;
  }

  &-btn {
    color: white;
    font-weight: bolder;
    background: $primary-color;
    padding: 0.5rem 1.7rem;
    border-radius: 2rem;
  }
}

.some {
  &-content {
    line-height: 2.5;
  }

  &-two {
    flex-direction: row-reverse;
  }
}

.pre-footer {
  background: rgb(195, 163, 34);
  background: linear-gradient(75deg, rgba(195, 163, 34, 1) 0%, rgba(253, 65, 45, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  padding: 3rem;
}

.card-details {
  font-weight: bolder;
  display: flex;
}

.card-details p {
  color: black;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
}

.ilus {
  width: 100%;
}

.house-status {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  position: absolute;
}

.house-state {
  padding: 1rem;
  text-transform: capitalize;
  font-weight: bolder;
  background: white;
  border-radius: 1.6rem;
  margin-right: 1rem;
}
